.rampart{
    font-family: 'rampart one';
    text-decoration: none;
}
.link{
    text-decoration: none;
    list-style: none;
}
.body {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
   background-color: black;
   text-decoration: none;
}
/*Barra de navegación */
.barra{
    width: 100%;
    padding: 10px;
    background-color: rgb(46, 46, 46);
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
}
.barra-titulo{
    color: red;
}
.barra-titulo :hover{
    color: white;
}

.barra-menu ul{
    list-style-type: none;
    text-align: center;
    
}
.barra-menu li{
    display: inline;
    text-align: center;
    padding: 10px;
}
.link.menu{
    color: white;
}
.link.menu:hover{
color: red;
background-color: white;
border: 2px solid red;
padding: 10px;
border-radius: 5px;
}
.botontexto{
    border-radius: 5px;
    padding: 5px;
    border: 0;
}
.botonbuscar{
    color: white;
    background-color: red;
    padding: 5px;
    border: 0;
    border-radius: 5px;
}
.botonbuscar:hover{
    color: red;
    background-color: white;
    border: 2px solid red;
}
/* Banner */
.banner{
width: 100%;
height: 30vh;
border: 9px solid black;
border-radius: 5px;
background-image:linear-gradient(rgba(5, 7, 12), rgba(5, 7, 12, 0.15)),
url(../assets/img/banner1.jpg);
background-position:right;
display: flex;
justify-items: center;
align-items: center;
text-align: center;

}
.boton-banner{
    justify-content: center;
}
.banner-texto{
    margin: 10px;
    color: white;
    text-align: center;
    font-family: 'Rampart One';

    
}
.link.banner-boton{
    margin: 10px;
    color: white;
    background-color: red;
    padding: 10px;
    border-radius: 5px;

}
.link.banner-boton:hover{
    background-color: white;
    color: red;
    border: 2px solid red;
}
/* articulos tipo banners */
.banner1{
    width: 100%;
    border: 9px solid black;
    border-radius: 9px;
    margin: auto;
    background-color: black;
    background-position:right;
    display: inline-block;
    justify-items: center;
    }
   
.section-titulo{
    font-family: 'open sans';
    text-align: center;
    justify-content: center;
    justify-items: center;
    color: white;
}
.section-texto{
    color:white;
    text-align: center;
    justify-content: center;
    justify-items: center;
}
.section{
    margin:10px ;
    border-radius: 10px;
    padding: 10px;
background-color: rgb(46, 46, 46);

}

.linea{
    text-decoration: none;
    color: white;
}

.destacados{
    text-align: center;
    margin: 10px;
    color: red;
}
.tarjeta-grupo{
    margin:10px ;
    border-radius: 10px;
    padding: 10px;
background-color: red;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
}
.tarjeta{
    background-color: white;
    width: 300px;
    margin: 10px;
    border-radius: 10px;
    padding: 20px 10px;
    text-align: center;
    flex-direction: row;
flex-wrap: wrap;
justify-content: center;
}
.tarjeta-titulo{
    margin: 10px;
}
.tarjeta img{
    height: 200px;
    width: 200px;
    margin: 10px;
}

.link.comprar{
    text-decoration: none;
    color: white;
    background-color: red;
    margin: 10px;
padding: 10px;
border-radius: 9px;
}
.link.comprar:hover{
    color: red;
    background-color: white;
    border: 2px solid red;
}

.pie-pagina{
width: 100%;
background-color: rgb(46, 46, 46);
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
}
.pie-pagina-g{
   
    width: 300px;
    padding: 10px;
    margin: 10px;
}
.pietitulo{
    color: red;

}
.pie-texto{
    color: white;
}
.link.pie-texto :hover{
    color: red;
}
.pietitulo.rampart.link :hover{
    color: white;
}
.suscribir{
    background-color: red;
    color: white;
    margin: 10px;
    border-color: red;
    border-radius: 5px;
}
.suscribir:hover{
    color: red;
    background-color: white;
    border: 2px solid red;
}
