/* variables */
.link{
    text-decoration: none;
    list-style: none;
}
.fuente1{
    font-family: 'Ewert', cursive;
}
.fuente2{
font-family: 'Open Sans regular', sans-serif;
}
.fuente3{
    font-family: 'Open Sans light', sans-serif;
    }
/* header: navegador */
.red{
    color: white;
    background-color: red;
    border: solid red;}

    .btn.btn-outline-success:hover{
        color: red;
        background-color: white;
        border:3px solid red;
    }