.red{
    color: white;
    background-color: red;
    border: solid red;}

    .btn.btn-outline-success:hover{
        color: red;
        background-color: white;
        border:3px solid red;
    }