body{
    background-color: black;
}
.banner{ 
    height: 23vh;
    width: 100%;
    background-image: url(../assets/img/banner1700x210.png);
    background-position: right;
    padding: 10px;
    background-repeat: no-repeat;
    &-titulo{
      
        text-align: center;
        margin: 0%;
        color: red;
        position: relative;
        top: 20%;}
    }

    .link{
        text-decoration: none;
    list-style: none;
    }