.contacto {
    background-color: rgb(61, 61, 61);
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    text-align: center;
    color: white;
}

.formulario {
    color: red;
    border: 2px solid;
    border-radius: 5px;

}