.banner-boton {
    position: relative;
    top: 30%;
    left: 48%
}

.destacados {
    color: red;
    background-color: rgb(61, 61, 61);
    padding: 8px;
    text-align: center;
    margin: 10px;
    border-radius: 5px;
}

section {
    background-color: black;
}

.envio {
    color: white;
    background-color: red;
    margin: 10px;
    border-radius: 5px;
    padding: 8px;
    text-align: center;
}