.pie-pagina{
    width: 100%;
    background-color: rgb(46, 46, 46);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    .tienda{
       width: 300px;
        padding: 10px;
        margin: 10px; 
    }
    .titulo{
        color: red;
    }
    .texto{
        color: white;
    }
    .texto:hover{
        color: red;
    }
    }
    
    
    .pietitulo.rampart.link :hover{
        color: white;
    }
    .suscribir{
        background-color: red;
        color: white;
        margin: 10px;
        border-color: red;
        border-radius: 5px;
    }
    .suscribir:hover{
        color: red;
        background-color: white;
        border: 2px solid red;
    }